{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "Luna • Biz haqimizda" %}
{% endblock title %}

{% block content %}

<div class="section-padding">
    <div class="container">
        <div class="row d-flex flex-wrap py-5 align-items-center">
            <div class="col-lg-6">
                <img class="img-border img-fluid" src="{% static 'images/luna-logo.jpg' %}" alt="Logo">    
            </div>
            <div class="col-lg-6 mt-5">
                <h2>{% trans "Biz haqimizda" %}</h2>
                <h6 class="text-muted">{% trans "Luna hometex - bu tekstil sohasida 2020-yildan beri faoliyat olib boradigan kompaniya. Shu vaqt mobaynida biz tezda to'qimachilik sanoatida yuqori sifatli sochiqlar ishlab chiqarishga ixtisoslashgan taniqli nomga aylandik. " %}
                </h6>
                <h6 class="text-muted">{% trans "Bizning asosiy mahsulot qatorimiz mijozlarimizning turli ehtiyojlarini qondirish uchun mo'ljallangan hammom sochiqlari, oshxona sochiqlari va yuz sochiqlari kabi turli xil sochiqlarni o'z ichiga oladi." %}
                </h6>
            </div>
        </div>
        <hr>
        <div class="row section-padding">
            <div class="col-lg-12">
                <h6 class="text-muted">{% trans "Luna hometexda biz sifat va innovatsiyalarga sodiqligimiz bilan faxrlanamiz. Bizning zamonaviy ishlab chiqarish korxonamiz Italiyaning Itema va Frantsiyaning Staubli kabi mashhur brendlarining ilg'or texnologiyalari bilan jihozlangan." %}
                </h6>
            </div>
            <div class="col-lg-12">
                <img class="img-border img-fluid" src="{% static 'images/about/luna-itema.jpg' %}" alt="Logo">    
            </div>
            
            <div class="col-lg-12"><br>
                <img class="img-border img-fluid" src="{% static 'images/about/luna-stanok1.jpg' %}" alt="Stanok">    
            </div>            
            
            <div class="col-lg-12"><br>
                <img class="img-border img-fluid" src="{% static 'images/about/luna-stanok2.jpg' %}" alt="Stanok">    
            </div>
        </div><hr>
        <div class="row d-flex flex-wrap py-5 align-items-center">
            <div class="col-lg-6">
                <h2>{% trans "Bizning mahsulotlar" %}</h2>
                <ul>
                    <li>{% trans "Hammom sochiqlar" %}</li>
                    <li>{% trans "Hammom halatlar" %}</li>
                    <li>{% trans "Oshxona sochiqlar" %}</li>
                    <li>{% trans "Yuz sochiqlar" %}</li>
                    <li>{% trans "Kichik o'lchamli sochiqchalar" %}</li>
                </ul>
            </div>
            <div class="col-lg-6 py-2">
                <img class="img-border img-fluid" src="{% static 'images/products/korichneviy_sochiqlar.jpg' %}" alt="Sochiq">
            </div>
            <div class="col-lg-6 py-2">
                <img class="img-border img-fluid" src="{% static 'images/products/jivoy1.jpg' %}" alt="Sochiq">
            </div>
            <div class="col-lg-6 py-2">
                <img class="img-border img-fluid" src="{% static 'images/products/jivoy2.jpg' %}" alt="Sochiq">
            </div>

        </div>
        <hr>
        <div class="row section-padding d-flex flex-wrap align-items-center">
            <div class="col-lg-6">
                <h6 class="text-muted">
                    {% trans "100 ga yaqin malakali hodimlarimiz muvaffaqiyatimizda hal qiluvchi rol o'ynaydi. Ularning tajribasi va ishtiyoqi bizning mijozlarimizga mahalliy va xalqaro miqyosda eng yaxshi to'qimachilik mahsulotlarini yetkazib berishga yordam beradi." %}
                </h6>
                <h6 class="text-muted">
                    {% trans "Hozirda korxonamizning oylik ishlab chiqarish hajmi: 40 000 kgni tashkil etadi." %}
                </h6>
            </div>
            <div class="col-lg-6">
                <img class="img-border img-fluid" src="{% static 'images/products/jivoy5.jpg' %}" alt="sochiq">
            </div>
        </div>

    </div>
</div>

{% endblock content %}