{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
{% trans "Luna • Bosh sahifa" %}
{% endblock title %}

{% block content %}

<main>
    <section class="about-section section-padding" id="section_2">
        <div class="container">
            <div class="row align-items">

                <div class="col-lg-5 col-12 bg-blur">
                    <a type="button" class="btn custom-btn text-white" href="{% url 'news:about' %}">{% trans "Qo'shimcha malumot" %}</a>
                </div>

            </div>
        </div>
    </section>

    <section class="reviews-section section-padding pb-5" id="section_4">
        <div class="container">
            <div class="row">
                <!-- sikl -->
                <div class="col-lg-12 col-12">
                    <h2 class="mt-2 mb-4">{% trans "Yangiliklar" %}</h2>
                    <div class="owl-carousel reviews-carousel">
                        {% for new in news %}
                        <a href="{% url 'news:news_detail' new.id %}">
                            <div class="reviews-thumb">
                                <div class="reviews-body">
                                    <h4>{{new.title|truncatechars:25}}</h4>
                                </div>

                                <div class="reviews-bottom reviews-bottom-up d-flex align-items-center gap-2">
                                    <i class="bi-calendar"></i>
                                    <strong class="text-white mb-0">{{new.created_at.date}}</strong>
                                </div>
                            </div> 
                        </a>                         
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="shop-section section-padding" id="section_3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <h2 class="mt-2 mb-4">{% trans "Bizning" %} <span class="tooplate-red">{% trans "maxsulotlar" %}</span></h2>
                </div>
                {% for product in products %}
                    <div class="col-lg-6 col-12">
                        <div class="shop-thumb">
                            <div class="shop-image-wrap">
                                <a href="{% url 'news:product_detail' product.id %}">
                                    <img src="{{ product.image.url }}" class="shop-image img-fluid" alt="Product image">
                                </a>

                                <div class="shop-btn-wrap">
                                    <a href="{% url 'news:product_detail' product.id %}" class="shop-btn custom-btn btn d-flex align-items-center align-items-center">{% trans "Batafsil" %}</a>
                                </div>
                            </div>

                            <div class="shop-body">
                                <h4>{{ product.name }}</h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}    

                
                </div>
            </div>
        </div>
    </section>

    <section class="featured-section section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-12">
                    <div class="custom-block featured-custom-block">
                        <h2 class="mt-2 mb-4">{% trans "Ish vaqtlari" %}</h2>

                        <div class="d-flex">
                            <i class="featured-icon bi-clock me-3"></i>
                            
                            <div>
                                <p class="mb-2">
                                    {% trans "Dushanba - Shanba ~" %}
                                    <strong class="d-inline">
                                        08:00 - 20:00
                                    </strong>
                                </p>
                                <p>{% trans "Yakshanba ~ Dam olish kuni" %}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>

{% endblock content %}